Package: com.zunda.keysound
Name: KeySound
Depends: mobilesubstrate, ws.hbang.common
Version: 1.0
Architecture: iphoneos-arm
Description: Change Keyboard Sound
Maintainer: zunda <zunda.pixel@gmail.com>
Author: zunda <zunda.pixel@gmail.com> 
Section: Tweaks
Depiction: https://twitter.com/zunda_pixel
SileoDepiction: https://repo.shymemoriees.me/depictions/tck/tck.json
Icon: https://pbs.twimg.com/profile_images/974322170309390336/tY8HZIhk_400x400.jpg