<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>KeySound is developed by zunda thnaks to Tr1Fecta, Cameren, DDDly</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.zunda.keysoundprefs</string>
			<key>key</key>
			<string>Sound</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>OLD</string>
				<string>Normal</string>
				<string>New</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>com.zunda.keysoundprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
		</dict>
        <dict>
			<key>action</key>
			<string>openTwitterZunda</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter</string>
			<key>label</key>
			<string>FOLLOW_ME_ON_TWITTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitterTr1Fecta</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter</string>
			<key>label</key>
			<string>FOLLOW_Tr1Fecta_ON_TWITTER</string>
		</dict>
	</array>
	<key>title</key>
	<string>KeySound</string>
</dict>
</plist>
